body {background: url("../images/bg.gif") top center repeat-y #eee;margin:0px;font-family:arial;font-size:90%;color:#333; }
div#canvas {text-align:left;margin: 0 auto;width: 95%; max-width:750px;background:#ffffff;padding-top:0px; overflow:hidden; }
span.bold {font-weight:bold}
span.italic {font-style:italic}
h3 { margin:0px; padding: 0px }
span.heading, div#column_left h2, div.single_column h2, div#pdfcol h2, div#column_left_big h2, h3 {display:block;font-size:180%;letter-spacing:-0.05em; font-weight:normal;color:#000;font-family:Times,serif; padding-bottom:5px;border-bottom:1px solid #ccc;padding-top:5px}
div.single_column h2 { margin-top: 0px; }
span.footnote, span.break {display:block;clear:both;font-size:100%;font-style:italic;color:#999; padding-top: 20px;}
span.underline {text-decoration:underline}
.highlight {display:block;padding:10px; background:#eee;color:#446;}
br.break {clear:both;}

a:link, a:visited, a:active {text-decoration:none;color:#333399}
span.highlight a:link, span.highlight a:visited, span.highlight a:active {color:#228}
a:hover {text-decoration:underline}
span.update_text {font-style:italic; color:#000}
ol {list-style:upper-alpha}
li {margin-bottom:10px}
hr {border:0px;height:0px;color:#fff;}
.slender {color:#fff;border-bottom:1px solid #ccc}
.hidden {display:none}
code {padding:10px;background:#eeeeff;color:#666666;font-family:courier;font-size:120%;margin:10px;display:block}

/* header */
div#header {margin:5px;padding:0px;margin-top:0px; background: url("../images/rh_logoback3.jpg") top left no-repeat; overflow:hidden; }
div#headerlogo {text-align:right;height:120px; }
div#headerimage {height:120px; }
a#logolink {display:block;position:absolute;
height:120px; width: 95%; max-width:700px; top:0px;}
h1 {display:none}
.header {display:none}

/* columns*/
div#column_left, div#column_left_big {margin-left:270px;margin-right:5px;background:#ffffff;color:#333333;text-align:left;padding:0px;padding-left:5px}
div#column_left_big {margin:5px}
div.single_column { margin: 5px; margin-top: 0px; background:#ffffff;color:#333333;text-align:left;}
div#column_left p {}
div#column_left h2 { margin:0px;margin-bottom:5px}
img.inline, img.bordered  {display:inline;float:left;border:0px;margin:10px;margin-left:0px;margin-top:0px}
img.bordered {border:8px solid #ddd}
p.highlight {padding:10px;background:#eeeeff}
div.search_container {padding:4px;background:#eee}

div#column_right, div#column_controls {width:250px; background:#ffffff;float:left;text-align:left;margin:5px;margin-top:0px;margin-left:0px; color:#333333;padding:5px;overflow:hidden;border-right:1px solid #fff;}
div#column_right h3, div#column_controls h3 {padding:0px;margin:0px;margin-bottom:5px;font-size:200%;letter-spacing:-0.05em;font-weight:normal;color:#aaa;font-family:Times,serif}
p.bullet {padding-left:35px; padding-bottom:10px; background: url("../images/greybullet.gif") top left no-repeat}
form#searchform {display:block;padding-top:10px;padding-bottom:10px}
fieldset {border:0px}
div.results_container {width:210px;margin:2px;background:#cccccc;height:6px;padding:2px}
div#resultsbaryes {height:100%;background:#ffffcc}
div#resultsbarno {height:100%;background:#ffffff}
div#mobilenav { display: none; }

div.nav_column {background:#eee;border-top:1px solid #ccc;border-bottom:5px solid #ccc;padding:5px;margin-bottom:5px;}
div.nav_column p {margin:0px;margin-top:5px;}

a.nav_link, a.nav_selected {font-size:200%;letter-spacing:-0.05em;font-family:Times,serif}
a.nav_selected {color:#999}
a.nav_selected:hover  {text-decoration:none;}
a.nav_link:hover {text-decoration:none; color:#08b}

div#lifemain, div#archivemain {width:95%;overflow:hidden}
div#archivemain {background:url("../images/diag.gif")}
div#picset {}

div.parsed_content { text-align: left; }


/* toolbar */
div.toolbar {padding-top:5px;text-align:left;border-top:1px solid #dddddd;margin-top:5px;margin-right:10px}

/* footer */
div#footer {clear:both;padding:5px;background:#ffffff;border-top:5px solid #ccc;margin:5px;margin-top:10px;text-align:center;margin-bottom:0px;}
div#footer p {}

/* forms */
form {margin:0px; display:inline}
legend {color:#999999;font-weight:bold;margin:0px;padding:0px;padding-top:10px;padding-bottom:10px}
table.formtable {border-collapse:collapse}
textarea.inv {display:none}
form.padded {display:block;margin:5px}
form.genform {border-top:1px solid #ccc; border-bottom: 5px solid #ccc; display:block;background:#eee;padding:10px}
#search_button {background:#fff;border:1px solid #cccccc;margin-left:1px;}
#search_button {cursor:pointer}
#search_input {width:150px;border:1px solid #cccccc;color:#666}
#searchform {background:#eeeeee}
textarea {border:1px solid #ccc;font-family:Arial, sans-serif;font-size:100%; text-align: left;}
.formButton {cursor:pointer}
.elegant, .formButton {background:#fff;border:1px solid #cccccc;margin-left:1px;}

/* stats graphs and tables */
table.graph_table {border-collapse:collapse;padding:0px;}
div.graph_count {width:6em; font-size:1em;height:30px; margin-left: 0.2em; color:#333;padding:1em; padding-top:0.8em;  background:url("../images/callout_blue.gif") bottom left no-repeat; padding-bottom:3em}

div.graph_count_left {text-align:right;font-size:1em;height:30px; margin-left: 0.2em; color:#333;padding:1em; padding-top:0.8em;  background:url("../images/callout_blue_left.png") bottom right no-repeat; padding-bottom:3em}

tr.graph_back {background:url("../images/graph_back_tiny.gif") bottom left repeat;}
td.graph_cell {width:12px;border:0px}
div.graph_bar {border:1px solid #333;border-bottom:0px}

table.stats_pages {border-collapse:collapse;border:0px}
th.stats_pages {margin:0px;padding:5px;border-bottom:2px solid #666;font-weight:bold}
td.stats_pages {margin:0px;padding:5px;border-bottom:1px solid #666}


/* mobile friendly */
@media screen and (max-width: 630px) {
	div#column_right { display: none; }
	div#mobilenav { width: 100%; display: block; margin-top: 20px; border-top: 5px solid #ccc; }
	div#column_left { margin: 0px; padding: 0px; }
	div#column_controls { width: 100%; }
	div#header { margin: 0px; }
	div#footer { margin: 0px; padding: 0px; border:0px; }
	body { background: #fff; width: 100%;  }
}